<script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<div class="footer">
	<div class="container">
		<div class="footer-link">
			<a class="link" href="https://www.baidu.com" target="_blank">百度</a>
			<a class="link" href="https://www.kuazhu.com" target="_blank">跨猪</a>
			<a class="link" href="https://www.taobao.com" target="_blank">淘宝</a>
		</div>
		<p class="copyRight">网络文化经营许可证：豫[2016]0268-027号</p>
	</div>
</div>