.product-item {
	height: 80px;
	line-height: 80px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
}
.cart-box .product-select{
	width: 6%;
}
.cart-box .product-info{
	width: 54%;
}
.cart-box .product-price{
	width: 10%;
}
.cart-box .product-count{
	width: 10%;
}
.cart-box .product-totalPrice{
	width: 10%;
}
.cart-box .product-opreation{
	width: 10%;
}
.cart-box .product-item .product-count .count-input{
	width: 40px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	outline: none;
	border: 1px solid #ddd;
	margin-left: -1px;
}
.cart-box .product-item .product-count .count-btn{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #ddd;
	background: #fff;
	cursor: pointer;
	user-select: none;
}
.cart-box .product-item .product-count .plus{
	margin-left: -1px;
}
.cart-box .product-item .product-totalPrice{
	font-size: 14px;
	font-weight: bold;
}
.cart-box .product-item .product-opreation .delete-one{
	cursor: pointer;
	user-select: none;
}
.cart-box .product-item .product-opreation .delete-selected{
	cursor: pointer;
	user-select: none;
}
.cart-box .empty-message{
	margin-bottom: 20px;
}
.cart-box .gohome-btn{
	display: block;
	margin: 0 auto;
}