<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./common/header.html') %>
	<title>
		<%= htmlWebpackPlugin.options.title %> -Ssite电商平台
	</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html') %>
	<%= require('html-loader!./common/search.html') %>
	<div class="list">
		<div class="container clearfix">
			<div class="shipping-box"></div>
			<div class="product-box"></div>
			<div class="modalbox">
				<div class="modal">
					<div class="modal-container">
						<div class="modal-header">
							<h2 class="modal-title">新增地址</h2>
							<i class="fa fa-close close-icon"></i>
						</div>
						<div class="modal-body">
							<div class="form">
								<div class="form-all">
									<div class="error-item">
										<i class="fa fa-minus-circle form-icon"></i>
										<p class="error-msg">error</p>
									</div>
									<div class="form-item">
										<label for="username">
											<i class="fa fa-user form-icon"></i>
										</label>
										<input type="text" name="username" id="username" placeholder="请输入收货人姓名">
									</div>
									<div class="form-item city-item" >
										<label for="">
											<i class="fa fa-building form-icon"></i>
										</label>
										<select name="province"></select>
										<select name="city"></select>
									</div>
									<div class="form-item">
										<label for="">
											<i class="fa fa-building form-icon"></i>
										</label>
										<input type="text" name="address" placeholder="请输入详细地址到门牌号">
									</div>
									<div class="form-item">
										<label for="phone">
											<i class="fa fa-phone form-icon"></i>
										</label>
										<input type="phone" name="phone" id="phone">
									</div>
									<div class="form-item">
										<label for="">
											<i class="fa fa-envelope form-icon"></i>
										</label>
										<input type="text" name="zip" placeholder="请输入邮编，如461500">
									</div>
									<div class="btn-item">
										<a class="btns form-btn" href="javascript:;" id="submit-btn">提交</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./common/footer.html') %>
</body>
</html>