<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./common/header.html') %>
	<title>
		<%= htmlWebpackPlugin.options.title %> -Ssite电商平台
	</title>
</head>
<body>
	<%= require('html-loader!./common/logo.html') %>
	<div class="form">
		<div class="container">
			<div class="form-all">
				<div class="title-item">
					<h2>用户注册</h2>
				</div>
				<div class="error-item">
					<i class="fa fa-minus-circle form-icon"></i>
					<p class="error-msg">error</p>
				</div>
				<div class="form-item">
					<label for="username">
						<i class="fa fa-user form-icon"></i>
					</label>
					<input type="text" name="username" id="username">
				</div>
				<div class="form-item">
					<label for="password">
						<i class="fa fa-lock form-icon"></i>
					</label>
					<input type="password" name="password" id="password">
				</div>
				<div class="form-item">
					<label for="repassword">
						<i class="fa fa-lock form-icon"></i>
					</label>
					<input type="password" name="repassword" id="repassword">
				</div>
				<div class="form-item">
					<label for="phone">
						<i class="fa fa-phone form-icon"></i>
					</label>
					<input type="phone" name="phone" id="phone">
				</div>
				<div class="form-item">
					<label for="email">
						<i class="fa fa-envelope form-icon"></i>
					</label>
					<input type="email" name="email" id="email">
				</div>
				<div class="btn-item">
					<a class="btns form-btn" href="javascript:;" id="submit-btn">提交</a>
				</div>
				<p class="login-item">
					<a class="link" href="./user-login.html">已有账号？请登录</a>
				</p>
			</div>
		</div>
	</div>
	<%= require('html-loader!./common/footer.html') %>
</body>
</html>