<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./common/header.html') %>
	<title>
		<%= htmlWebpackPlugin.options.title %> -Ssite电商平台
	</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html') %>
	<%= require('html-loader!./common/search.html') %>
	<div class="user-page-center">
		<div class="container clearfix">
			<%= require('html-loader!./common/side.html') %>
			<div class="side-content">
				<div class="form">
					<div class="form-all">
						<div class="error-item">
							<i class="fa fa-minus-circle form-icon"></i>
							<p class="error-msg">error</p>
						</div>
						<div class="form-item">
							<label for="password">
								<i class="fa fa-lock form-icon"></i>
							</label>
							<input type="password" name="password" id="password">
						</div>
						<div class="form-item">
							<label for="repassword">
								<i class="fa fa-lock form-icon"></i>
							</label>
							<input type="password" name="repassword" id="repassword">
						</div>
						<div class="btn-item">
							<a class="btns form-btn" href="javascript:;" id="submit-btn">提交</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./common/footer.html') %>
</body>
</html>